# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/

# Virtual Environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints


# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log